In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('games-data_new.csv')
df

,name,platform,r-date,score,user score,developer,genre,players,critics,users
0,Full Throttle,PC,1995-04-30,86,8.6,LucasArts,"Adventure,General",No info,8,189
1,Duke Nukem 3D,PC,1996-01-29,89,8.7,3DRealms,"Action,Shooter,Shooter,First-Person,Sci-Fi,Sci...",Up to 8,8,489
2,Sid Meier's Civilization II,PC,1996-02-29,94,8.8,MPSLabs,"Strategy,Turn-Based,Historic,General,Historic,4X",1 Player,7,471
3,Bad Mojo,PC,1996-02-29,74,6.9,PulseEntertainment,"Action Adventure,Adventure,General,Horror,General",1 Player,10,13
4,Resident Evil,PlayStation,1996-03-30,91,9.1,Capcom,"Action Adventure,Horror",1 Player,8,623
...,...,...,...,...,...,...,...,...,...,...
18974,Forza Horizon 5,PC,2021-11-09,91,6.3,PlaygroundGames,"Racing,Simulation,Automobile",No info,17,4
18975,Jurassic World Evolution 2,PC,2021-11-09,81,tbd,FrontierDevelopments,"Strategy,Management,Business / Tycoon",No info,7,0
18976,Blue Reflection: Second Light,PlayStation4,2021-11-09,78,tbd,Gust,"Role-Playing,Japanese-Style",No info,10,0
18977,Blue Reflection: Second Light,Switch,2021-11-09,78,tbd,Gust,"Role-Playing,Japanese-Style",No info,9,0
18978,Shin Megami Tensei V,Switch,2021-11-12,87,tbd,Atlus,"Role-Playing,General",No info,52,0

In [4]:
df['r-date'] = pd.to_datetime(df['r-date'])
df['r-date'][0].year

1995

In [161]:
platform = {}
all_platforms ={}
for row in df.itertuples():
    if row.platform not in all_platforms:
        all_platforms[row.platform] = 0
for row in df.itertuples():
    #if row[0] == 0:
     #   print(row._3.year)
        
    
    if row._3.year not in platform:
        if len(platform) == 0:
            
            platform_year = {}
            platform[row._3.year] = all_platforms.copy()
            platform[row._3.year][row.platform] = 0
        elif len(platform) != 0:
            platform[row._3.year] = platform[row._3.year-1].copy()
    if row._3.year in platform:
        platform[row._3.year][row.platform] +=1
        #if row.platform not in platform_year:
         #   platform_year[row.platform] = 1
        #elif row.platform in platform_year:
         #   platform_year[row.platform] +=1
list_of_df = []
for outer_dict in platform:
    platform_series = pd.DataFrame.from_dict(platform[outer_dict],orient='index', columns =['count'])
    platform_series['year'] = outer_dict
    platform_series.reset_index(level=0, inplace=True)
    
    list_of_df.append(platform_series)
platform_df = pd.concat(list_of_df)
platform_df.reset_index(drop=True,inplace=True)
platform_df.rename(columns={'index':'platform'},inplace=True)
platform_df.to_csv('platform.csv')
platform_df

         platform  count  year
0              PC      1  1995
1     PlayStation      0  1995
2      Nintendo64      0  1995
3       Dreamcast      0  1995
4    PlayStation2      0  1995
..            ...    ...   ...
589       XboxOne   1183  2021
590        Switch   1421  2021
591        Stadia      5  2021
592   XboxSeriesX     85  2021
593  PlayStation5    133  2021

[594 rows x 3 columns]

In [164]:
developer = {}
all_developer = {}
for row in df.itertuples():
    if row.developer not in all_developer:
        all_developer[row.developer] = 0
for row in df.itertuples():
    #if row[0] == 0:
     #   print(row._3.year)
        
    
    if row._3.year not in developer:
        if len(developer) == 0:
            
            developer_year = {}
            developer[row._3.year] = all_developer.copy()
            developer[row._3.year][row.developer] = 0
        elif len(developer) != 0:
            developer[row._3.year] = developer[row._3.year-1].copy()
    if row._3.year in developer:
        developer[row._3.year][row.developer] +=1
        #if row.developer not in developer_year:
         #   developer_year[row.developer] = 1
        #elif row.developer in developer_year:
         #   developer_year[row.developer] +=1
list_of_df = []
for outer_dict in developer:
    developer_series = pd.DataFrame.from_dict(developer[outer_dict],orient='index', columns =['count'])
    developer_series['year'] = outer_dict
    developer_series.reset_index(level=0, inplace=True)
    list_of_df.append(developer_series)
developer_df = pd.concat(list_of_df)
developer_df.reset_index(drop=True,inplace=True)
developer_df.rename(columns={'index':'developer'},inplace=True)

developer_df.to_csv('developer.csv')
developer_df

                 developer  count  year
0                LucasArts      1  1995
1                 3DRealms      0  1995
2                  MPSLabs      0  1995
3       PulseEntertainment      0  1995
4                   Capcom      0  1995
...                    ...    ...   ...
124438  FlamingFowlStudios      1  2021
124439     MonochromeParis      1  2021
124440    SquareEnix,A-lim      1  2021
124441               A-lim      1  2021
124442               Flazm      1  2021

[124443 rows x 3 columns]

In [185]:
for row in developer_df.itertuples():
    if row.count >100:
        print(row)

Pandas(Index=46234, developer='EASports', count=108, year=2005)
Pandas(Index=50703, developer='Capcom', count=110, year=2006)
Pandas(Index=50843, developer='EASports', count=127, year=2006)
Pandas(Index=55312, developer='Capcom', count=122, year=2007)
Pandas(Index=55371, developer='EACanada', count=117, year=2007)
Pandas(Index=55452, developer='EASports', count=129, year=2007)
Pandas(Index=59921, developer='Capcom', count=131, year=2008)
Pandas(Index=59980, developer='EACanada', count=139, year=2008)
Pandas(Index=60061, developer='EASports', count=130, year=2008)
Pandas(Index=64530, developer='Capcom', count=142, year=2009)
Pandas(Index=64557, developer='Konami', count=108, year=2009)
Pandas(Index=64589, developer='EACanada', count=151, year=2009)
Pandas(Index=64670, developer='EASports', count=134, year=2009)
Pandas(Index=69139, developer='Capcom', count=157, year=2010)
Pandas(Index=69166, developer='Konami', count=118, year=2010)
Pandas(Index=69198, developer='EACanada', count=158, year=2010)
Pandas(Index=69279, developer='EASports', count=142, year=2010)
Pandas(Index=73748, developer='Capcom', count=171, year=2011)
Pandas(Index=73775, developer='Konami', count=127, year=2011)
Pandas(Index=73807, developer='EACanada', count=160, year=2011)
Pandas(Index=73888, developer='EASports', count=146, year=2011)
Pandas(Index=78357, developer='Capcom', count=185, year=2012)
Pandas(Index=78384, developer='Konami', count=134, year=2012)
Pandas(Index=78416, developer='EACanada', count=165, year=2012)
Pandas(Index=78497, developer='EASports', count=151, year=2012)
Pandas(Index=82966, developer='Capcom', count=194, year=2013)
Pandas(Index=82970, developer='Nintendo', count=106, year=2013)
Pandas(Index=82993, developer='Konami', count=137, year=2013)
Pandas(Index=83025, developer='EACanada', count=169, year=2013)
Pandas(Index=83106, developer='EASports', count=157, year=2013)
Pandas(Index=83237, developer='UbisoftMontreal', count=101, year=2013)
Pandas(Index=83257, developer='Ubisoft', count=111, year=2013)
Pandas(Index=87575, developer='Capcom', count=196, year=2014)
Pandas(Index=87579, developer='Nintendo', count=110, year=2014)
Pandas(Index=87602, developer='Konami', count=141, year=2014)
Pandas(Index=87634, developer='EACanada', count=171, year=2014)
Pandas(Index=87715, developer='EASports', count=168, year=2014)
Pandas(Index=87846, developer='UbisoftMontreal', count=113, year=2014)
Pandas(Index=87866, developer='Ubisoft', count=115, year=2014)
Pandas(Index=88550, developer='TelltaleGames', count=126, year=2014)
Pandas(Index=92184, developer='Capcom', count=215, year=2015)
Pandas(Index=92188, developer='Nintendo', count=116, year=2015)
Pandas(Index=92211, developer='Konami', count=144, year=2015)
Pandas(Index=92243, developer='EACanada', count=171, year=2015)
Pandas(Index=92324, developer='EASports', count=175, year=2015)
Pandas(Index=92455, developer='UbisoftMontreal', count=119, year=2015)
Pandas(Index=92475, developer='Ubisoft', count=120, year=2015)
Pandas(Index=93159, developer='TelltaleGames', count=165, year=2015)
Pandas(Index=96793, developer='Capcom', count=233, year=2016)
Pandas(Index=96797, developer='Nintendo', count=118, year=2016)
Pandas(Index=96820, developer='Konami', count=148, year=2016)
Pandas(Index=96852, developer='EACanada', count=171, year=2016)
Pandas(Index=96933, developer='EASports', count=179, year=2016)
Pandas(Index=97064, developer='UbisoftMontreal', count=127, year=2016)
Pandas(Index=97084, developer='Ubisoft', count=121, year=2016)
Pandas(Index=97768, developer='TelltaleGames', count=193, year=2016)
Pandas(Index=101402, developer='Capcom', count=255, year=2017)
Pandas(Index=101406, developer='Nintendo', count=129, year=2017)
Pandas(Index=101429, developer='Konami', count=152, year=2017)
Pandas(Index=101461, developer='EACanada', count=171, year=2017)
Pandas(Index=101542, developer='EASports', count=184, year=2017)
Pandas(Index=101673, developer='UbisoftMontreal', count=130, year=2017)
Pandas(Index=101693, developer='Ubisoft', count=122, year=2017)
Pandas(Index=102377, developer='TelltaleGames', count=227, year=2017)
Pandas(Index=106011, developer='Capcom', count=271, year=2018)
Pandas(Index=106015, developer='Nintendo', count=134, year=2018)
Pandas(Index=106038, developer='Konami', count=161, year=2018)
Pandas(Index=106070, developer='EACanada', count=171, year=2018)
Pandas(Index=106151, developer='EASports', count=191, year=2018)
Pandas(Index=106282, developer='UbisoftMontreal', count=138, year=2018)
Pandas(Index=106302, developer='Ubisoft', count=128, year=2018)
Pandas(Index=106986, developer='TelltaleGames', count=237, year=2018)
Pandas(Index=110620, developer='Capcom', count=289, year=2019)
Pandas(Index=110624, developer='Nintendo', count=138, year=2019)
Pandas(Index=110647, developer='Konami', count=166, year=2019)
Pandas(Index=110679, developer='EACanada', count=171, year=2019)
Pandas(Index=110760, developer='EASports', count=191, year=2019)
Pandas(Index=110891, developer='UbisoftMontreal', count=141, year=2019)
Pandas(Index=110911, developer='Ubisoft', count=132, year=2019)
Pandas(Index=111355, developer='SquareEnix', count=101, year=2019)
Pandas(Index=111595, developer='TelltaleGames', count=237, year=2019)
Pandas(Index=115229, developer='Capcom', count=295, year=2020)
Pandas(Index=115233, developer='Nintendo', count=142, year=2020)
Pandas(Index=115256, developer='Konami', count=169, year=2020)
Pandas(Index=115288, developer='EACanada', count=171, year=2020)
Pandas(Index=115369, developer='EASports', count=193, year=2020)
Pandas(Index=115407, developer='Codemasters', count=104, year=2020)
Pandas(Index=115423, developer='ElectronicArts', count=104, year=2020)
Pandas(Index=115500, developer='UbisoftMontreal', count=146, year=2020)
Pandas(Index=115520, developer='Ubisoft', count=137, year=2020)
Pandas(Index=115964, developer='SquareEnix', count=108, year=2020)
Pandas(Index=116204, developer='TelltaleGames', count=237, year=2020)
Pandas(Index=119838, developer='Capcom', count=310, year=2021)
Pandas(Index=119842, developer='Nintendo', count=144, year=2021)
Pandas(Index=119865, developer='Konami', count=170, year=2021)
Pandas(Index=119897, developer='EACanada', count=173, year=2021)
Pandas(Index=119978, developer='EASports', count=193, year=2021)
Pandas(Index=120016, developer='Codemasters', count=107, year=2021)
Pandas(Index=120032, developer='ElectronicArts', count=107, year=2021)
Pandas(Index=120109, developer='UbisoftMontreal', count=151, year=2021)
Pandas(Index=120129, developer='Ubisoft', count=142, year=2021)
Pandas(Index=120290, developer='EATiburon', count=101, year=2021)
Pandas(Index=120573, developer='SquareEnix', count=117, year=2021)
Pandas(Index=120813, developer='TelltaleGames', count=238, year=2021)

18979